html{
  overflow: hidden;
}
.App {
  text-align: left;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 3%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #222;
  height: 2%;
  color: white;
  position:absolute;
  bottom:0;
  width: 100%;
}


