:root{
    --header-height: 85px;
    --heading-font-size: 20px;
}

html{
  overflow: hidden;
}
.App {
  text-align: left;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: var(--header-height);
  color: white;
    padding: 5px;
}

.App-title {
  font-size: var(--header-height);
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #222;
  padding:10px;
  height: 3%;
  color: white;
  position:absolute;
  bottom:0;
  width: 100%;
    text-align: center;
}

footer a{
  color: white;
}

.inline{
    display: inline;
}

header  .v-center{
    align-content: center;
    position: relative;
    bottom: 30px;
    left: 2%;
}

header .b-center{
    position: relative;
    bottom: 65px;
    float:right;
}

.footerIcon{
    display:inline;
    vertical-align: middle;
    margin-right: 10px;
}


